/* #region Base */

body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.sub-section-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-header,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section {
  padding: 120px 0;
}

/* #endregion */

/* #region Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.logo-header {
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part-header {
  color: #2e2f42;
}

.nav-links .link {
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.nav-links .link:hover,
.nav-links .link:focus {
  color: #404bbf;
}

.site-address {
  font-style: normal;
}

.address-links .link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  color: #434455;
}

.address-links .link:hover,
.address-links .link:focus {
  color: #404bbf;
}
.page-header .container {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 76px;
  flex-grow: 1;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-links {
  display: flex;
  gap: 40px;
}

/* #endregion */

/* #region Hero */

.hero-image {
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto 48px;
}

.order-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: currentColor;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  min-height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Advantages */

.advantages-section > .container {
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-list .sub-section-header {
  margin-bottom: 8px;
}

/* #endregion */

/* #region Team */

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  border-top: none;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-section .section-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-card-desc {
  text-align: center;
  padding: 32px 0 32px;
}

.team-card-desc .sub-section-header {
  margin-bottom: 8px;
}

/* #endregion */

/* #region Products */
.products-section .section-title {
  margin-bottom: 72px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

.products-item {
  width: calc((100% - 2 * 24px) / 3);
}

.products-desc {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.products-desc > .sub-section-header {
  margin-bottom: 8px;
}

/* #endregion */

/* #region Footer */

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
}
.logo-part-footer {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
}

/* #endregion */
